@import "../variables.scss";

$two-column: 768px;

.homepage {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  @media (min-width: $two-column) {
    padding-top: 4rem;

    flex-direction: row-reverse;
    &__text,
    &__avatar {
      flex: 1;
    }
  }

  &__avatar {
    height: 320px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: #1a3f61 5px 5px, #14324eb9 10px 10px, #0f273d94 15px 15px,
      #0a1c2c80 20px 20px, #081622bd 25px 25px;

    @media (min-width: 450px) {
      height: 350px;
    }

    @media (min-width: $two-column) {
      height: 320px;
    }

    @media (min-width: 992px) {
      height: 400px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.heroText {
  @media (max-width: $two-column - 1px) {
    width: 85%;
    margin: auto;
  }

  &__heading {
    color: $secondary-app-color;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 2.2rem;

    @media (max-width: $two-column - 1px) {
      margin-top: 3rem;
    }

    @media (min-width: 400px) {
      font-size: 2.6rem;
    }

    @media (min-width: 992px) {
      font-size: 3.2rem;
      margin-top: 3.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 3.8rem;
    }
  }

  &__subheading {
    color: rgb(105, 247, 216);
    font-weight: bold;
    font-size: 1.3rem;

    @media (min-width: 400px) {
      font-size: 1.4rem;
      margin-top: 0.8rem;
    }

    @media (min-width: 992px) {
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }

  &__desc {
    margin-top: 1.5rem;
    color: $normal-text-color;
    max-width: 450px;

    @media (min-width: 400px) {
      margin-top: 1.8rem;
    }

    @media (min-width: 992px) {
      margin-top: 2.2rem;
    }

    span {
      color: rgb(105, 247, 216);
      font-weight: bold;
    }
  }

  &__callToAction {
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    max-width: 300px;

    @media (min-width: 400px) {
      margin-top: 2.3rem;
    }

    @media (min-width: 992px) {
      margin-top: 2.6rem;
    }

    a {
      text-align: center;
      min-width: 120px;
      padding: 0.7rem;
      border-radius: 1rem;
      border: none;
      background-color: $primary-app-color;
      font-weight: bold;
      color: $secondary-app-color;
      font-size: 1.05rem;

      &:active {
        transform: scale(0.95);
      }

      @media (min-width: 992px) {
        &:hover {
          background-color: $primary-app-darker-color;
          text-decoration: none;
        }
      }
    }

    p {
      font-size: 0.8rem;
      color: $app-background-light-color;
      margin: 0;
      margin-left: 1rem;
    }
  }
}
