$app-background-color: #081623;
$app-background-light-color: #6b737a;

$primary-app-color: #152ee0;
$primary-app-darker-color: #1022ad;
$secondary-app-color: #e2e2e2;

$inActive-link-color: #a6a6a6;

$normal-text-color: #cdcdcd;
